
<div class="container p-1" style="display:inline-block">
    <div style="width: 30%;float: left;align-items:center;
    padding-right: 60px;
    margin-right: 60px;">
        <img src={{viewProduct.mainImage}} class="card-img-left"  alt="..." style="width: 100%;max-height: fit-content  ;">
        <div style="position: absolute; top:10rem; left:8rem;">
            <img  src='{{designImagePage}}'  width="80" height="80"  />
        </div>
        <ul class="row row-cols-4" style="align-items: center;">
            <li *ngFor="let imageFuncional of imagesDesignFuncional" class="list-group-item p-2">
                <div>
                    <img src={{imageFuncional.imageDesign}} class="card-img-top" alt="..." width="25%">
                    <div style="position: absolute; top:1rem; left:2.2rem;">
                        <img  src='{{designImagePage}}'  width="10" height="10"  />
                    </div>
                    <div class="card-body"></div>
                    <a  style="position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;" href="/#/product/{{imageFuncional.id}}"></a>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="container p-2" style="width: 600px; height: 380px;padding-top:100px;float: left;position: relative;">
        <strong>{{viewProduct.productName}}</strong>
        <br/>
        DESCRIPCION: {{viewProduct.description}}
        <br/>
            <a style='display:inline-block;width: 50%;' >
                <strong>Diseñador: </strong> {{viewProduct.designerName}}
            </a>
            <a style="text-align:right;display:inline-block;width: 50%;">
                <strong>Diseño: </strong>{{viewProduct.designName}}
            </a>
        <br/><strong>{{viewProduct.price}}€</strong>
        <br/>
        <div>
            <div style="text-align:left;display:inline-block;width: 40%;">
            <button (click)="buy()" type="button" class="btn btn-primary" >Comprar Ya</button>
        </div>
        <div style="text-align:center;display:inline-block;width: 40%;">
            <button (click)="addToCart()" type="button" class="btn btn-success" >Añadir a mi carro</button>
        </div>
        <button class="like-button"
                [ngClass]="{ 'heart-animation-1': !viewProduct.favourite,
                            'heart-animation-2 liked': viewProduct.favourite }"
                (click)="actualizarFavorito()" style="display: inline-block;">

  <i class="like-icon"></i> <ng-content></ng-content>
</button>
    </div>
</div>
