<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
    <div class="login-main-text">
        <h2>SellDesign</h2>
        <p>¡Gana dinero vendiendo tus diseños!</p>
        <div>
            <p><a class="btn btn-primary" href="/login" role="button">Acceder</a></p>
        </div>
        <hr />
        <div>
            <p><a class="btn btn-secondary" href="/register" role="button">Registrame</a></p>
        </div>
    </div>
</div>