<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <div class="container">
      <div>
        <h1 class="display-3">¡Bienvenid@ a SellDesign!</h1>
        <p class="lead">Regístrate o identificate para comenzar a vender tus diseños.</p>
        <p><a class="btn btn-lg btn-success" href="/login" role="button">Acceder</a></p>
        <p><a class="btn btn-lg btn-success" href="/register" role="button">Registro</a></p>
      </div>
</div> <!-- /container -->