<div>  
    <nav class="navbar navbar-expand-lg bg-light border-bottom border-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            </ul>
            <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        </div>
    </nav>

    <div class="container p-1">
        <div class="card" style="width: 18rem;">
            <p>Hola</p>
            <img src={{viewProduct.mainImage}} class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">{{viewProduct.productName}} --- {{viewProduct.designName}}</p>
            <p class="card-text"><strong>{{viewProduct.price}}€</strong></p>
        </div>        
    </div>

    <footer>
        <nav class="navbar navbar-expand-lg bg-light p-5 border-top border-dark">
            <div class="container-fluid d-flex justify-content-center">
                <h1 class="text-center">Aqui habra cosas que no le importan nunca a nadie</h1>
            </div>
        </nav>
    </footer>
</div>